<template>
  <div class='container'>
    <b-form inline @submit="onSubmit" class="mb-4">
      <label class="sr-only" for="inline-form-select-basecur">Base Currency</label>
      <b-form-select
      class="mb-2 mr-sm-2 mb-sm-0"
      :value="null"
      :options="{ 'USD': 'USD', 'EUR': 'EUR', 'CZK': 'CZK', 'PLN': 'PLN' }"
      v-model="convertCurrencyForm.base_currency"
      required
      id="inline-form-select-basecur"
      >
        <template v-slot:first>
          <option :value="null">Base Currency</option>
        </template>
      </b-form-select>

      <label class="sr-only" for="inline-form-select-convertcur">Convertial Currency</label>
      <b-form-select
      class="mb-2 mr-sm-2 mb-sm-0"
      :value="null"
      :options="{ 'USD': 'USD', 'EUR': 'EUR', 'CZK': 'CZK', 'PLN': 'PLN' }"
      v-model="convertCurrencyForm.convertial_currency"
      required
      id="inline-form-select-convertcur"
      >
        <template v-slot:first>
          <option :value="null">Convertial Currency</option>
        </template>
      </b-form-select>

      <label class="sr-only" for="inline-form-input-amount">Amount</label>
      <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
        <b-input
          id="inline-form-input-amount"
          type="number"
          step="0.01"
          v-model="convertCurrencyForm.base_amount"
          required
          placeholder="Amount"
        >
        </b-input>
      </b-input-group>

      <b-button variant="primary" type="submit">Convert</b-button>
    </b-form>
    <div class="col-md-6 result">
      <h1>Result: {{ result }}</h1>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Convert',
  data() {
    return {
      convertCurrencyForm: {
        base_currency: '',
        convertial_currency: '',
        base_amount: 0,
      },
      result: '',
    };
  },
  methods: {
    convertCurrency(payload) {
      const path = 'http://127.0.0.1:5000/convert';
      axios.post(path, payload)
        .then((res) => {
          this.result = res.data.converted_amount;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error)
        });
    },
    onSubmit(event) {
      event.preventDefault();
      const payload = {
        base_currency: this.convertCurrencyForm.base_currency,
        convertial_currency: this.convertCurrencyForm.convertial_currency,
        base_amount: this.convertCurrencyForm.base_amount,
      };
      this.convertCurrency(payload);
    },
  },
};
</script>

<style scoped>
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .result {
    background-color: rgb(184, 184, 184);
  }

  .result h1 {
    padding: 25px 0 25px 0;
  }
</style>
